body 
{ 
width: 100%;
font-family: calibri;
background: url('back.jpg');

}
#head{
	font-size: 29px;
	font-weight: bold;
	color: white;
	text-align: center;
margin: 10px auto;
margin-top: 40px;	
}
.demo-table {
	border-style: ridge;
	border-width: 4px;
	background: white;
	background-repeat: no-repeat;
	width: 500px;
	border-spacing: initial;
	margin: 0 auto;
	word-break: break-word;
	table-layout: auto;
	line-height: 1.8em;
	color: #333;
	border-radius: 4px;
	padding: 20px 40px;

}
.demo-table td {
	padding: 15px 0px;
	
}
.demoInputBox {
	padding: 10px 30px;
	border: #a9a9a9 1px solid;
	border-radius: 4px;
}
.btnRegister {
	padding: 10px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
}
.td1{
	text-align: center;
	font-weight: bold;
}